* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: myFirstFont;
    src: url(2157-font.otf);
    }

html, body {
    overflow: hidden; 
    font-family: 'myFirstFont', sans-serif !important; 
    
}

.camInt {
    /* display: flex; */
    position: absolute;
    top: -7%;
    left: 25%;
    transform: translate(-50%, -50%);
    transform: rotate(90deg);
}

.background {
    width: 100%;
    height: 100%;
    width: 100%;
    height: auto;
    bottom: 0;
    object-fit: cover;
    position: absolute;
    display: block;
    z-index: -1;
}

#webcam {
    width: 936px;
    height: 1196px;
    /* transform: rotate(90deg); */
    position: relative;
    border-radius: 25px;
    transform: scaleY(-1);
}

.btn-style-myself {
    width: 100%;
    height: 920px;
    border: none;
    opacity: 100%;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'myFirstFont';
    font-weight: bold;
    font-size: 7rem;
    color: rgb(255, 255, 255);
    animation: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#target-img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 1440px;
    height: 1080px;
    opacity: 0%;
}

.content {
    right: 0%;
    position: absolute;
    top: 0%;
}   

.content-button {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showComp {
    visibility: hidden;
}

@media (max-width: 1080px) {
    #webcam {
        width: 720 px;
        height: 1280px;
        margin-top: -800px;
        flex-wrap: wrap;
   }

   .btn-style-myself {
        width: 827px;
        height: 620px;
        flex-wrap: wrap;
        margin-top: 140px;
   }
}